/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main styling */
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* space between the lines */
    line-height: 1.7em;
}
a{
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

/* Utility Classes */
/* it can be reuse */
.container {
    margin: auto;
    max-width: 1400px;
    /* always shows the background */
    overflow: auto;
    padding: 0 20px;

}

.text-primary{
    color: #ddccba;
}
.lead {
    padding-top: 40px;
    padding-right: 100px;
    padding-left: 100px;
    font-size: 20px;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: white;
    background: darkgray;
    padding: 13px 20px;
    border-radius: 10px;
    cursor: pointer;

}
.btn:hover {
    background: #f7c08a;
    color: #333;
}
.bg-light {
    background: #f4f4f4;
    color:black;
}
.bg-dark {
    background: #333;
    color: #f7c08a;
}
.bg-primary {
    background: #f7c08a;
    color: #333;
}

.clr {
    clear: both;
}

/* padding utilities */
.top-bottom-1 {
    padding: 10px 0;
}
.top-bottom-2 {
    padding: 20px 0;
}
.top-bottom-3 {
    padding: 30px 0;
}
.top-bottom-8 {
    padding: 80px 0;
}
.left-right-padding {
    padding-left: 20px;
    padding-right: 20px;
}

/* style aligment utilities*/
.justify-text {
    text-align: justify;
}
.center-text {
    text-align: center;
}

/* font-size utilities */
.font-big {
    font-size: 40px;
}
.font-medium {
    font-size: ;
}
.font-white{
    color: white;
}








/* Navbar */
#navbar {
    background: black;
    color: white;
    /* it will create the bar*/
    overflow: auto;
}

#navbar a{
    color: white;
}
#navbar h1 {
    float: left;
    padding-top: 20px;
}
#navbar ul {
    list-style: none;
    float: right;
}
#navbar ul li {
    float: left;
}
#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}
#navbar ul li a:hover,
#navbar ul li a.current {
    background: #f7c08a;
    color: #333;
}

/* showcase */
#showcase {
    background: url('../img/hotelroom.jpg') no-repeat center center/cover;
    height: 600px;
    

}

#showcase .showcase-content {
    color: white;
    text-align: center;
    padding: 170px;
}

#showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content p{
    padding-bottom: 20px;
    line-height: 1.7em;
}

/* Home Info */
#home-info {
    /* this will move the image to the left, setting the heigh */
    height: 400px;
}
#home-info .info-img {
    float: left;
    width: 50%;
    background: url('../img/hotelentrance.jpg') no-repeat center center/cover;
    height: 150%;
}

#home-info .info-content {
    float: right;
    width: 50%;
    height: 150%;
    text-align: center;
    padding: 150px 40px;
    color: white;
    /* if anything goes outside ther eis not scrowbars */
    background: #333;
    overflow: hidden;
    
}
#home-info p {
    text-align: justify; 
    line-height: 2.5em;
    color: white;
    padding-bottom: 40px;
}

/* Features the bottom setion */
.box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
    
}
.box i {
    margin-bottom: 10px;

}

/* About info */

#about-info .info-right {
    float: right;
    width: 50%;
    /* the size of the container on the right side */
    min-height: 100%;
}
#about-info .info-right img{
    display: block;
    margin: auto;
    /* control the size of the image */
    width: 50%;
    border-radius: 20%;
}
#about-info .info-left {
    float: left;
    width: 50%;
    min-height: 100%;
    
}

#about-info h1{
    text-align: center;

}

/* testtimonials */
#testimonials  {
    height: 800px;
    background: url('../img/hoteltest.jpg') no-repeat center center/cover;
    padding-top: 40px;
    
}
#testimonials .testimonial {
    background: #f7c08a;
    min-height: 20%;
    margin: 0 90px;
    border-radius: 20px;
    margin-bottom: 40px;
    opacity: 0.9;

}
#testimonials .testimonial p{
    padding: 40px 50px;

}

#testimonials .testimonial img{
    padding: 30px 10px;
    width: 150px;
    float: left;
    border-radius: 50%;
  

}

/* Contact info setion */
#contact-form p {
    
}
#contact-form label{
    /* breaks the label to the next line */
    display: block;
    font-size: 20px;

}
#contant-form .form-group input{
    
}


/* Main Footer */
#main-footer{
    padding: 30px 30px;
    text-align: center;
    background: #333;
    color: white;
}


